/**{outline:1px solid rgba(255,0,0,1);}*/
*{
	font-family: 'Indie Flower', cursive;
}
.fondo{
	
	background-image: url("images/fond.jpg");
	/*background-color: #F9F655*/;
}
.fondo2{/*
	background: #A0D332;*/
	padding-top: 120px;/*
	position: relative;*/
}
.container{
	margin-top: -100px;
	-webkit-box-shadow: 4px 6px 26px -5px rgba(138,131,138,1);
    -moz-box-shadow: 4px 6px 26px -5px rgba(138,131,138,1);
	box-shadow: 4px 6px 26px -5px rgba(138,131,138,1);
}
.header{
	background-color: #E82222;
	border: 2px dashed #E82222;
}
.header img{
	border-radius: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.header i{
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 15px;	
	color: #E0E0E0;
}
.separacion{
	border-right:1px solid #E0E0E0;
}
.separacion button{
	padding: 0;
	background-color: #E82222;
	border: 1px solid #E82222;/*
	margin-left: 350px;*/
}
.contactos{
	background-color: #fff;
	padding-right: 0;
	padding-left: 0;
}
.buscar{
	padding:5px;	
	border:1px solid #E0E0E0;
	margin:7px 19px;
	border-radius: 5px;
}
.buscar i{
	color: #E0E0E0;
}
.buscar input{
	width: 95%;
	border:none;
}
.lista-contact{
	overflow: scroll;
	height: 488px;
}
.chat{
	background: url("images/chat.png");
	background-size: cover;
	background-color: #EDE9E4;
}
.chat-content{
	overflow: scroll;	
	height: 380px;
}
#bienvenida{/*
	margin-top: 88px;*/
	padding-bottom: 0;
}
#chat{
	display: none;
}

